

/*------------------------- RESPONSIVE ------------------------- */



@media only screen and (max-width: 999px) {

    header .navbar-nav {
        gap: 0;
    }

    header .navbar-wrap .navbar-brand {
        max-width: 68px;
    }

    header .navbar-wrap .navbar-toggler img {
        max-width: 45px;
    }

    header .navbar-wrap .navbar-toggler {
        padding: 0;
        border: 0;
        outline: 0;
    }

    header .navbar-wrap .navbar-toggler:focus {
        padding: 0;
        border: 0;
        outline: 0;
        box-shadow: none;
    }

    header .content-box .right .box svg {
        max-width: 100px;
    }

    .product .category-buttons {
        display: flex
;
        justify-content: center;
        margin: 15px 0;
        /* overflow: scroll; */
        white-space: nowrap;
        gap: 10px;
        flex-wrap: wrap;
    }

    footer {
        background-color: var(--black-color);
        padding: 71px 10px 30px 10px;
    }

    footer .content-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
    }

    footer .content-box .left .box {
        width: 100%;
    }

    footer .content-box .left {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        gap: 50px;
        flex-wrap: wrap;
    }

    footer .content-box .box ul {
        list-style: none;
        padding: 0;
        margin: 8px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    footer .content-box .box li a {
        color: var(--Cold-Grey-white, #FFF);
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer .content-box .left .box:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .content-box .left .box:nth-child(2) {
        width: 50%;
    }

    footer .content-box .left .box:nth-child(3) {
        width: 50%;
    }

    footer .content-box .left button {
        background-color: rgba(5, 20, 31, 0.00);
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 8px 27px;
        color: var(--white-color);
        border: 1px solid #fff;
        border-radius: 8px;
        margin: 13px 0 0 0;
        width: fit-content;
    }


    header .navbar-wrap {
        background-color: var(--white-color);
        width: 100%;
        display: flex;
        padding: 16px 17px;
        border-radius: 10px;
        justify-content: space-between;
    }

    header .content-box {
        padding: 38px 0 0px 0;
    }

    header .content-box .right .box {
        padding: 20px 50px;
        border-radius: 36px;
        border: 0.5px solid #FFF;
        background: rgba(255, 255, 255, 0.13);
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    header .content-box .right .box p {
        color: #FFF;
        text-align: center;
        font-family: var(--light-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 1.8px;
        margin: 15px 0 20px 0;
    }

    header .content-box .right .box button {
        border-radius: 8px;
        border: 1px solid #FFF;
        background: #000;
        padding: 12px 14px;
        color: #D9D9D9;
        text-align: center;
        text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
        font-family: var(--bold-font);
        font-size: var(--font-size-14, 12px);
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.07px;
        text-decoration: none;
    }

    .show-interest {
        padding: 50px 10px 0 10px;
        overflow: hidden;
    }

    .show-interest h2 {
        font-family: var(--medium-font);
        font-size: 24px;
        color: var(--white-color);
        padding: 0 0 10px 0;
    }


    .show-interest form input,
    .show-interest form select {
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #ffffff20;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 10px;
        color: var(--white-color);
    }

    .show-interest .boxy {
        background: #003743;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 1rem;
    }


    .show-interest form input::placeholder {
        font-size: 12px;
        font-family: var(--regular-font);
        color: var(--white-color);
    }

    .show-interest form .terms {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 40px 0 0 0;
    }

    .show-interest form .terms p {
        font-size: 10px;
        font-family: var(--regular-font);
        color: var(--white-color);
        margin: 0 0 0 10px;
    }

    .show-interest form .terms a {
        font-size: 11px;
        font-family: var(--regular-font);
        color: var(--white-color);
    }

    .primary-button {
        background-color: #05141F;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 12px 26px;
        color: var(--white-color);
        border: none;
        border-radius: 8px;
        margin: 45px 0 0 0;
        width: fit-content;
    }


    .about-section {
        position: relative;

        padding: 50px 10px 0 10px;
    }

    .about-section .heading-box h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }

    .about-section .content-box .right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .about-section .content-box h3 {
        font-size: 22px;
        font-family: var(--medium-font);
        color: #D9D9D9;
    }

    .about-section .content-box p {
        font-size: 14px;
        font-family: var(--regular-font);
        color: #D9D9D9;
    }

    .product {
        background-image: url(../images/home/aboutus-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 50px 0 0 0;
        padding: 50px 0;
        overflow: hidden;
    }

    .product .heading-box h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }

    .product .category-btn.active {
        color: #000;
        text-align: center;
        text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.07px;
        border-radius: 8px;
        border: 1px solid #FFF;
        background: #FFF;
    }

    .product .category-btn {
        padding: 8px 15px;
        border: 1px solid #fff;
        cursor: pointer;
        background: transparent;
        border-radius: 5px;
        transition: 0.3s;
        font-family: var(--regular-font);
        font-size: 12px;
        border-radius: 8px;
        color: #fff;
        padding: 6px 10px;
    }


    .product .item .left h2 {
        color: var(--white-color);
        text-align: center;
        font-family: var(--bold-font);
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        /* line-height: 92px; */
        border-bottom: 1px solid #FFF;
        width: fit-content;
        margin: 0 auto 10px auto;
        padding: 0 0 9px 0;
        line-height: normal;
    }

    .product .item .left h6 {
        color: var(--white-color);
        text-align: center;
        font-family: var(--light-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .product .item .left p {
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.07px;
    }

   

    .product .item .left .button-wrap {
        margin: auto;
    }


    .product .item .left .button-wrap .booknow {
        background-color: #05141F;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 10px 27px;
        color: var(--white-color);
        border: none;
        border-radius: 8px;
        margin: 40px 0 0 0;
        width: fit-content;
    }


    .product .item .left .button-wrap .more-detail {
        background-color: transparent;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 10px 27px;
        color: var(--white-color);
        border: 1px solid var(--white-color);
        border-radius: 8px;
        margin: 40px 0 0 0;
        width: fit-content;
    }

    .product .item .left .feature-wrap .text {
        margin: 0;
        color: #FFF;
        font-family: var(--bold-font);
        font-size: 14px;
        font-style: normal;
        line-height: normal;
    }

    .product .item .left .feature-wrap .title {
        margin: 5px 0 8px 0;
        color: #FFF;
        font-family: var(--regular-font);
        font-size: 8px;
        font-style: normal;
        line-height: normal;
    }

    .testimonial {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .testimonial .content-box {
        background-color: #113941;
        padding: 36px 10px;
    }

    .testimonial h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }


    .testimonial .box p {
        font-size: 14px;
    }



    .testimonial .head-item h6 {
        font-size: 14px;
    }


    .happiness-key {
        padding: 50px 10px 0 10px;
        overflow: hidden;
    }

    .happiness-key .heading-box {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }



    .happiness-key .heading-box h2 {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }


    .happiness-key .content-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .happiness-key .content-box .box {
        height: 163px;
        width: 100%;
        border-radius: 6px;
        background-color: #C4C4C4;
    }

    .emi {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .emi .left {
        display: flex;
        justify-content: center;
    }

    .emi .right {
        display: flex;
        justify-content: center;
    }

    .emi .right .box {
        width: fit-content;
        text-align: center;
        padding: 26px 37px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .emi .left .box {
        background-color: #0C6578;
        border-radius: 16px;
        width: fit-content;
        text-align: center;
        padding: 26px 37px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }


    .article {
        padding: 50px 10px;
        overflow: hidden;
    }

    .article .heading-box h2 {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }

    .article .card .card-title {
        color: #FFF;
        font-family: var(--medium-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 16px 0 24px 0;
    }

    .article .auther-wrap .left p {
        margin: 0;
        color: #FFF;
        font-family: var(--light-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .article .card .card-text {
        font-family: var(--regular-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #696868;
    }
}



@media only screen and (max-width: 768px) {

    header .navbar-nav {
        gap: 0;
        padding: 10px 0 0 0;
    }

    header .navbar-wrap .navbar-brand {
        max-width: 68px;
    }

    header .navbar-wrap .navbar-toggler img {
        max-width: 45px;
    }

    header .navbar-wrap .navbar-toggler {
        padding: 0;
        border: 0;
        outline: 0;
    }

    header .navbar-wrap .navbar-toggler:focus {
        padding: 0;
        border: 0;
        outline: 0;
        box-shadow: none;
    }

    header .content-box .right .box svg {
        max-width: 100px;
    }

    .product .category-buttons {
        display: flex
;
        justify-content: center;
        margin: 15px 0;
        /* overflow: scroll; */
        white-space: nowrap;
        gap: 10px;
        flex-wrap: wrap;
    }
    footer {
        background-color: var(--black-color);
        padding: 71px 10px 30px 10px;
    }

    footer .content-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
    }

    footer .content-box .left .box {
        width: 100%;
    }

    footer .content-box .left {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        gap: 50px;
        flex-wrap: wrap;
    }

    footer .content-box .box ul {
        list-style: none;
        padding: 0;
        margin: 8px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    footer .content-box .box li a {
        color: var(--Cold-Grey-white, #FFF);
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer .content-box .left .box:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    footer .content-box .left .box:nth-child(2) {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    footer .content-box .left .box:nth-child(3) {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    footer .content-box .left button {
        background-color: rgba(5, 20, 31, 0.00);
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 8px 27px;
        color: var(--white-color);
        border: 1px solid #fff;
        border-radius: 8px;
        margin: 13px 0 0 0;
        width: fit-content;
    }

    footer .content-box .right{
        margin: auto;
    }

    footer .content-box .box h4 {
        color: var(--Cold-Grey-white, #FFF);
        font-family: var(--bold-font);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }


    header .navbar-wrap {
        background-color: var(--white-color);
        width: 100%;
        display: flex;
        padding: 16px 17px;
        border-radius: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .content-box {
        padding: 38px 0 0px 0;
    }

    header .content-box .right .box {
        padding: 20px 50px;
        border-radius: 36px;
        border: 0.5px solid #FFF;
        background: rgba(255, 255, 255, 0.13);
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    header .navbar-collapse {
        width: 100%;
    }

    header form a {
        background-color: var(--black-color);
        border-radius: 8px;
        padding: 12px 15px;
        color: #D9D9D9 !important;
        font-family: var(--regular-font);
        font-size: 12px;
    }

    header .nav-link {
        font-size: 12px;
        color: #090909;
        font-weight: 400;
        font-family: var(--light-font);
        padding: 0 0 10px 0;
    }

    header .content-box .right .box p {
        color: #FFF;
        text-align: center;
        font-family: var(--light-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 1.8px;
        margin: 15px 0 20px 0;
    }

    header .content-box .right .box button {
        border-radius: 8px;
        border: 1px solid #FFF;
        background: #000;
        padding: 12px 14px;
        color: #D9D9D9;
        text-align: center;
        text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
        font-family: var(--bold-font);
        font-size: var(--font-size-14, 12px);
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.07px;
        text-decoration: none;
    }

    .show-interest {
        padding: 50px 10px 0 10px;
        overflow: hidden;
    }

    .show-interest h2 {
        font-family: var(--medium-font);
        font-size: 24px;
        color: var(--white-color);
        padding: 0 0 10px 0;
    }


    .show-interest form input,
    .show-interest form select {
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #ffffff20;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 10px;
        color: var(--white-color);
    }

    .show-interest .boxy {
        background: #003743;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 1rem;
    }


    .show-interest form input::placeholder {
        font-size: 12px;
        font-family: var(--regular-font);
        color: var(--white-color);
    }

    .show-interest form .terms {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 40px 0 0 0;
    }

    .show-interest form .terms p {
        font-size: 10px;
        font-family: var(--regular-font);
        color: var(--white-color);
        margin: 0 0 0 10px;
    }

    .show-interest form .terms a {
        font-size: 11px;
        font-family: var(--regular-font);
        color: var(--white-color);
    }

    .primary-button {
        background-color: #05141F;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 12px 26px;
        color: var(--white-color);
        border: none;
        border-radius: 8px;
        margin: 45px 0 0 0;
        width: fit-content;
    }


    .about-section {
        position: relative;

        padding: 50px 10px 0 10px;
    }

    .about-section .heading-box h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }

    .about-section .content-box .right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .about-section .content-box h3 {
        font-size: 22px;
        font-family: var(--medium-font);
        color: #D9D9D9;
    }

    .about-section .content-box p {
        font-size: 14px;
        font-family: var(--regular-font);
        color: #D9D9D9;
    }

    .product {
        background-image: url(../images/home/aboutus-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 50px 0 0 0;
        padding: 50px 0;
        overflow: hidden;
    }

    .product .heading-box h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }

    .product .category-btn.active {
        color: #000;
        text-align: center;
        text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.07px;
        border-radius: 8px;
        border: 1px solid #FFF;
        background: #FFF;
    }

    .product .category-btn {
        padding: 8px 15px;
        border: 1px solid #fff;
        cursor: pointer;
        background: transparent;
        border-radius: 5px;
        transition: 0.3s;
        font-family: var(--regular-font);
        font-size: 12px;
        border-radius: 8px;
        color: #fff;
        padding: 6px 10px;
    }


    .product .item .left h2 {
        color: var(--white-color);
        text-align: center;
        font-family: var(--bold-font);
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        /* line-height: 92px; */
        border-bottom: 1px solid #FFF;
        width: fit-content;
        margin: 0 auto 10px auto;
        padding: 0 0 9px 0;
        line-height: normal;
    }

    .product .item .left h6 {
        color: var(--white-color);
        text-align: center;
        font-family: var(--light-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .product .item .left p {
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-family: var(--regular-font);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.07px;
    }

 

    .product .item .left .button-wrap {
        margin: auto;
    }


    .product .item .left .button-wrap .booknow {
        background-color: #05141F;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 10px 27px;
        color: var(--white-color);
        border: none;
        border-radius: 8px;
        margin: 40px 0 0 0;
        width: fit-content;
    }


    .product .item .left .button-wrap .more-detail {
        background-color: transparent;
        font-family: var(--medium-font);
        font-size: 12px;
        padding: 10px 27px;
        color: var(--white-color);
        border: 1px solid var(--white-color);
        border-radius: 8px;
        margin: 40px 0 0 0;
        width: fit-content;
    }

    .product .item .left .feature-wrap .text {
        margin: 0;
        color: #FFF;
        font-family: var(--bold-font);
        font-size: 14px;
        font-style: normal;
        line-height: normal;
    }

    .product .item .left .feature-wrap .title {
        margin: 5px 0 8px 0;
        color: #FFF;
        font-family: var(--regular-font);
        font-size: 8px;
        font-style: normal;
        line-height: normal;
    }

    .product .item .left .feature-wrap .box {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.30);
        text-align: center;
        width: 106px;
        height: 95px;
        display: flex
    ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testimonial {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .testimonial .content-box {
        background-color: #113941;
        padding: 36px 10px;
    }

    .testimonial h2 {
        font-size: 24px;
        font-family: var(--medium-font);
        color: #D9D9D9;
        padding: 0 0 10px 0;
    }


    .testimonial .box p {
        font-size: 14px;
    }



    .testimonial .head-item h6 {
        font-size: 14px;
    }


    .happiness-key {
        padding: 50px 10px 0 10px;
        overflow: hidden;
    }

    .happiness-key .heading-box {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }



    .happiness-key .heading-box h2 {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }


    .happiness-key .content-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .happiness-key .content-box .box {
        height: 163px;
        width: 100%;
        border-radius: 6px;
        background-color: #C4C4C4;
    }

    .emi {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .emi .left {
        display: flex;
        justify-content: center;
    }

    .emi .right {
        display: flex;
        justify-content: center;
    }

    .emi .right .box {
        width: fit-content;
        text-align: center;
        padding: 26px 37px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .emi .left .box {
        background-color: #0C6578;
        border-radius: 16px;
        width: fit-content;
        text-align: center;
        padding: 26px 37px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }


    .article {
        padding: 50px 10px;
        overflow: hidden;
    }

    .article .heading-box h2 {
        color: #FFF;
        text-align: center;
        font-family: var(--medium-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0.16px;
        padding: 0 0 10px 0;
    }

    .article .card .card-title {
        color: #FFF;
        font-family: var(--medium-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 16px 0 24px 0;
    }

    .article .auther-wrap .left p {
        margin: 0;
        color: #FFF;
        font-family: var(--light-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .article .card .card-text {
        font-family: var(--regular-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #696868;
    }
}