@font-face {
    font-family: 'twk-regular';
    src: url('../twk-font/TWKEverett-Regular.otf'),
}

@font-face {
    font-family: 'twk-light';
    src: url('../twk-font/TWKEverett-Light.otf'),
}

@font-face {
    font-family: 'twk-bold';
    src: url('../twk-font/TWKEverett-Bold.otf'),
}

@font-face {
    font-family: 'twk-extra-bold';
    src: url('../twk-font/TWKEverett-Extrabold.otf'),
}

@font-face {
    font-family: 'twk-medium';
    src: url('../twk-font/TWKEverett-Medium.otf'),
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000;
    --white-color: #fff;
    --regular-font: 'twk-regular';
    --light-font: 'twk-light';
    --medium-font: 'twk-medium';
    --bold-font: 'twk-bold';
}

body {
    background-color: #042E37;
}

/* inital style */

.primary-button {
    background-color: #05141F;
    font-family: var(--medium-font);
    font-size: 14px;
    padding: 20px 50px;
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    margin: 70px 0 0 0;
    width: fit-content;
}

/* banner style */

.home-header {
    background-image: url(../images/home/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header .navbar-wrap {
    background-color: var(--white-color);
    width: 100%;
    display: flex;
    padding: 16px 60px;
    border-radius: 16px;
}

header .content-box {
    padding: 60px 0 0 0;
}

header .navbar {
    padding: 20px 0 0 0;
}

header .nav-link.active {
    font-family: var(--regular-font);
}

header .nav-link {
    font-size: 14px;
    color: #090909;
    font-weight: 400;
    font-family: var(--light-font);
}

header form a {
    background-color: var(--black-color);
    border-radius: 8px;
    padding: 16px 27px;
    color: #D9D9D9 !important;
    font-family: var(--regular-font);
}

header .navbar-nav {
    gap: 36px;
}

header .navbar-collapse {
    gap: 36px;
}


header .content-box .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header .content-box .right .box {
    padding: 60px;
    border-radius: 36px;
    border: 0.5px solid #FFF;
    background: rgba(255, 255, 255, 0.13);
    text-align: center;

}

header .content-box .right .box p {
    color: #FFF;
    text-align: center;
    font-family: var(--light-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.8px;
    margin: 26px 0;
}

header .content-box .right .box p span {
    color: #40C4E2;
    font-family: var(--medium-font);
    font-size: 12px;
    font-style: normal;

    line-height: 24px;
    letter-spacing: 1.8px;
}

header .content-box .right .box button {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #000;
    padding: 16px 28px;


    color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
    font-family: var(--bold-font);
    font-size: var(--font-size-14, 14px);
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.07px;
    text-decoration: none;
}

header .content-box .left .wrap {
    /* background-color: red; */
    position: relative;
}


header .content-box .left .wrap .product-image img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


header .content-box .left .wrap .product-image img.active {
    opacity: 1;
}


/* Show Interest */

.show-interest {
    padding: 120px 0 0 0;
    overflow: hidden;
}

.show-interest h2 {
    font-family: var(--medium-font);
    font-size: 32px;
    color: var(--white-color);
    padding: 0 0 20px 0;
}

.show-interest .boxy {
    background: #003743;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 3rem;
}

.show-interest form input,
.show-interest form select {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #ffffff20;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    color: var(--white-color);

}

.show-interest form input:focus,
.show-interest form select:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ffffffc4;
    border-top: none;
    border-left: none;
    border-right: none;
}


.show-interest form input::placeholder {
    font-size: 14px;
    font-family: var(--regular-font);
    color: var(--white-color);
}

.show-interest form .terms {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 100px 0 0 0;
}

.show-interest form .terms p {
    font-size: 15px;
    font-family: var(--regular-font);
    color: var(--white-color);
    margin: 0 0 0 20px;

}

.show-interest form .terms a {
    font-size: 15px;
    font-family: var(--regular-font);
    color: var(--white-color);


}

.show-interest form .terms input {
    width: fit-content;
    height: 23px;
    width: 23px;
}


/* about us */

.about-section {
    padding: 120px 0 0 0;
    position: relative;
}

.about-section .about-shape {
    position: absolute;
    top: -50%;
    right: 0;
    z-index: -1;
}

.about-section .heading-box {
    text-align: center;
}

.about-section .heading-box h2 {
    font-size: 32px;
    font-family: var(--medium-font);
    color: #D9D9D9;
    padding: 0 0 30px 0;
}

.about-section .content-box .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 71%;
    margin-left: auto;
}

.about-section .content-box h3 {
    font-size: 30px;
    font-family: var(--medium-font);
    color: #D9D9D9;
}

.about-section .content-box p {
    font-size: 16px;
    font-family: var(--regular-font);
    color: #D9D9D9;
}

/* Testimonial */

.testimonial {
    padding: 120px 0 0 0;
    overflow: hidden;
}

.testimonial .heading-box {
    text-align: center;
}

.testimonial h2 {
    font-size: 32px;
    font-family: var(--medium-font);
    color: #D9D9D9;
    padding: 0 0 30px 0;
}

.testimonial .swiper {
    width: 100%;
    height: 100%;
}

.testimonial .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
}


.testimonial .box {
    padding: 25px;
    border-radius: 10px;
    text-align: start;
    background-color: var(--white-color);
    height: 100%;
}

.testimonial .head-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 18px 0;
}

.testimonial .head-item h6 {
    margin: 0;
    font-family: var(--medium-font);
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}



.testimonial .content-box {
    background-color: #113941;
    padding: 64px 48px;
}

.testimonial .box p {
    color: var(--black-color);
    font-family: var(--regular-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.testimonial .box .text-box {
    margin: 0 0 0 10px;
}

.testimonial .footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial .footer-text a,
.testimonial .footer-text p {
    color: #3C3C4350;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* Happiness Key */


.happiness-key {
    padding: 120px 0 0 0;
    overflow: hidden;
}

.happiness-key .heading-box {
    color: #FFF;
    text-align: center;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.16px;
    padding: 0 0 24px 0;
}

.happiness-key .content-box .box {
    height: 400px;
    width: 100%;
    border-radius: 16px;
    background-color: #C4C4C4;
}

.happiness-key .content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    gap: 30px;

}

/* emi options */

.emi {
    padding: 120px 0 0 0;
    overflow: hidden;
}

.emi .left {
    display: flex;
    justify-content: end;
}

.emi .left .box {
    background-color: #0C6578;
    border-radius: 16px;
    width: fit-content;
    text-align: center;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.emi .box h6 {
    margin: 0;
    color: #FFF;
    font-family: var(--bold-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.emi .box p {
    margin: 0;

    color: #FFF;
    text-align: center;
    font-family: var(--regular-font);
    font-size: 13px;
    font-style: normal;
    line-height: 19.5px;
    /* 150% */
    letter-spacing: 0.16px;
}

.emi .right .box {
    width: fit-content;
    text-align: center;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.emi .right {
    display: flex;
    justify-content: start;
}

/* article */

.article {
    padding: 120px 0;
    overflow: hidden;
}

.article .card {
    background-color: transparent;
    border: none;
}

.article .card-body {
    padding: 20px 0 0 0;
}

.article .heading-box h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.16px;
    padding: 0 0 24px 0;
}

.article .auther-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.article .auther-wrap .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.article .auther-wrap .left p {
    margin: 0;
    color: #FFF;
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.article .auther-wrap .right p {
    margin: 0;
    color: rgba(255, 255, 255, 0.40);


    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.article .card .card-title {
    color: #FFF;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 16px 0 40px 0;
}

.article .card .card-text {
    font-family: var(--regular-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #696868;
}

/* footer */

footer {
    background-color: var(--black-color);
    padding: 56px 180px 250px;
    overflow: hidden;
}

footer .content-box {
    display: flex;
    justify-content: space-between;
    gap: 283px;
}

footer .content-box .left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;

}

footer .content-box .left button {
    background-color: rgba(5, 20, 31, 0.00);
    font-family: var(--medium-font);
    font-size: 14px;
    padding: 20px 50px;
    color: var(--white-color);
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 20px 0 0 0;
    width: fit-content;
}

footer .content-box .box ul {
    list-style: none;
    padding: 0;
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


footer .content-box .box h4 {
    color: var(--Cold-Grey-white, #FFF);
    font-family: var(--bold-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .content-box .box li a {
    color: var(--Cold-Grey-white, #FFF);
    font-family: var(--regular-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .content-box .box li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

footer address {
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 0 0;
}

footer .social-media {
    margin: 20px 0 0 0;
    display: flex;
    gap: 16px;
    align-items: center;
}



/* about product */

.product {
    background-image: url(../images/home/aboutus-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 73px 0;
    margin: 100px 0 0 0;
    overflow: hidden;
}

.product .heading-box {
    text-align: center;
}

.product .heading-box h2 {
    font-size: 32px;
    font-family: var(--medium-font);
    color: #D9D9D9;
    padding: 0 0 30px 0;
}



.product .category-buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.product .category-btn {
    padding: 8px 15px;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
    font-family: var(--regular-font);
    font-size: 14px;
    border-radius: 8px;
    color: #fff;
    padding: 13px 50px;
}

.product .category-btn.active {
    color: #000;
    text-align: center;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
    font-family: var(--regular-font);
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.07px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #FFF;
}

.product .swiper {
    overflow: hidden;
}

.product .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.product .swiper-button-prev,
.product .swiper-button-next {
    color: var(--white-color);
}

.product .feature-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



.product .item .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.product .item .left .feature-wrap .box {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.30);
    text-align: center;

    width: 125px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.product .item .left .feature-wrap .title {
    margin: 0 0 8px 0;
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 10px;
    font-style: normal;

    line-height: normal;
}

.product .item .left .feature-wrap .text {
    margin: 0;

    color: #FFF;
    font-family: var(--bold-font);
    font-size: 16px;
    font-style: normal;

    line-height: normal;
}

.product .item .left h2 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--bold-font);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 92px;
    border-bottom: 1px solid #FFF;
    width: fit-content;
    margin: 0 auto 16px auto;
    padding: 0 0 16px 0;
}

.product .item .left h6 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--light-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product .item .left p {
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    font-family: var(--regular-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    letter-spacing: 0.07px;
}

.product .item .left .button-wrap .booknow {
    background-color: #05141F;
    font-family: var(--medium-font);
    font-size: 14px;
    padding: 20px 50px;
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    margin: 70px 0 0 0;
    width: fit-content;
}

.product .item .left .button-wrap .more-detail {
    background-color: transparent;
    font-family: var(--medium-font);
    font-size: 14px;
    padding: 20px 50px;
    color: var(--white-color);
    border: 1px solid var(--white-color);

    border-radius: 8px;
    margin: 70px 0 0 0;
    width: fit-content;
}

.product .item .right .title {
    color: #40C4E2;
    font-family: var(--medium-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 8px 0 8px 0;
    border-radius: 8px;
    background: #212423;
    padding: 8px;
}

.product .item .right .text {
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.product .item .right .box {
    text-align: center;
}


/* About Page */

main header {
    background-image: none;
}

main .about-section {
    padding: 50px 0;
}

.about-page .mission {
    background: #051E24;
    padding: 107px 0 0 0;
}

.about-page .vision {
    background: #051E24;
    padding: 0 0 107px 0px;
}

.about-page .mission .heading-box {
    text-align: center;
    padding: 0 0 25px 0;
}


.about-page .mission .heading-box h2 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--regular-font);
    font-size: 32px;
    font-style: normal;
    line-height: 92px;
}

.about-page .mission .left {
    height: 100%;
    display: flex;
    align-items: center;
}

.about-page .mission .left p {
    color: #D9D9D9;
    font-family: var(--regular-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
}


.about-page .vision .heading-box h2 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--regular-font);
    font-size: 32px;
    font-style: normal;
    line-height: 92px;
}

.about-page .vision .right {
    height: 100%;
    display: flex;
    align-items: center;
}

.about-page .vision .right p {
    color: #D9D9D9;
    font-family: var(--regular-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.about-page .why-choose {
    padding: 60px 0 200px 0;
    position: relative;
}

.about-page .why-choose .shape1 {
    position: absolute;
    right: 0;
    top: 0;
}

.about-page .why-choose .shape2 {
    position: absolute;
    left: 0;
    bottom: -40%;
    z-index: -1;
}

.about-page .why-choose .heading-box {
    text-align: center;
    margin: 0 0 26px 0;
}

.about-page .why-choose .heading-box h2 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--regular-font);
    font-size: 32px;
    font-style: normal;
    line-height: 92px;
}

.about-page .why-choose .heading-box p {
    color: #D9D9D9;
    font-family: var(--regular-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.about-page .why-choose .card {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 20px;
}

.about-page .why-choose .card hr {
    margin: 0;
    color: var(--white-color);
    height: 1px;
}

.about-page .why-choose .card .card-header {
    text-align: center;
    border: none;
}

.about-page .why-choose .card h5 {
    color: #FFF;
    text-align: center;
    font-family: var(--bold-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 36px 0 36px 0;
}

.about-page .why-choose .card .card-footer {
    color: #FFF;
    text-align: center;
    font-family: var(--regular-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    margin: 36px 0 0 0;
}

/* Contact */
main .contact-page .contact-section {
    padding: 50px 0;
}

.contact-page .contact-section .heading-box {
    text-align: center;
}

.contact-page .contact-section .heading-box h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;

    line-height: 48px;
    letter-spacing: 0.16px;
    padding: 45px 0 45px 0;
}

.contact-page .contact-section .content-box {
    border: 1px solid #FFF;
    padding: 70px 48px;
}

.contact-page .contact-section .content-box h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;

    line-height: 48px;
    letter-spacing: 0.16px;
    padding: 0 0 36px 0;

}

.contact-page .contact-section .content-box h6 {
    color: #FFF;
    text-align: center;
    font-family: var(--light-font);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding: 0 0 36px 0;
    width: 77%;
    margin: auto;
}

.contact-page .contact-section .content-box form input,
.contact-page .contact-section .content-box form textarea {
    width: 100%;
    background-color: #042E37;
    border: 1px solid #666;
    padding: 15px 18px;
}

.contact-page .contact-section .content-box form input::placeholder,
.contact-page .contact-section .content-box form textarea::placeholder {
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}


.contact-page .contact-section .content-box form .btn-wrap {
    text-align: center;
}

.contact-page .contact-section .content-box form .btn-wrap button {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #000;
    color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.10);
    font-family: var(--medium-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.07px;
    padding: 16px 35px;
}

.contact-details {
    padding: 63px 0 120px 0;
}

.contact-details .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}



.contact-details .box {
    padding: 16px;
    align-self: stretch;
    border-radius: 8px;
    background: #094855;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-details .box.map {
    padding: 0;
    border-radius: 8px;
}




.contact-details .box h3 {
    color: #FFF;
    text-align: center;
    font-family: var(--regular-font);
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    margin: 0;
}


.contact-details .box address {
    color: #FFF;
    text-align: center;
    font-family: var(--light-font);
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.28px;
    width: 50%;
    margin: auto;
}

.contact-details .box hr {
    margin: 16px 0;
    color: var(--white-color);
    height: 1px;

}



.contact-details .box a {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration: none;
}





.contact-details .box iframe {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

/* Blog */

.blog-page .blog-list .heading-box {
    text-align: center;
    padding: 50px 0 30px 0;
}

.blog-page .blog-list .heading-box h2 {
    font-size: 32px;
    font-family: var(--medium-font);
    color: #D9D9D9;
    padding: 0 0 30px 0;
}

.blog-page .blog-list .content-box {
    padding: 0 0 50px 0;
}

.blog-page .blog-list .content-box .card {
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.blog-page .blog-list .content-box .card .author-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.blog-page .blog-list .content-box .card .card-body {
    padding: 0;
}

.blog-page .blog-list .content-box .card img {
    border-radius: 16px;
}

.blog-page .blog-list .content-box .card .author-wrap img {
    border-radius: 50%;
    margin: 0 16px 0 0;
}


.blog-page .blog-list .content-box .card .author-wrap .author-name {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 0;
    display: flex;
    align-items: center;
}

.blog-page .blog-list .content-box .card .author-wrap .date {
    color: rgba(255, 255, 255, 0.40);
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 0;
}

.blog-page .blog-list .content-box .card .card-title {
    color: #FFF;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;
    line-height: 40px;
}

.blog-page .blog-list .content-box .card .card-text {
    color: #AAA;
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-page .blog-horizontal {
    padding: 50px 0 0 0;
}

.blog-page .blog-horizontal .content-box .card {
    width: 100%;
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.blog-page .blog-horizontal .content-box .card .card-title {
    color: #FFF;
    font-family: var(--medium-font);
    font-size: 32px;
    font-style: normal;
    line-height: 40px;
}

.blog-page .blog-horizontal .content-box .card .card-text {
    color: #AAA;
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-page .blog-horizontal .content-box .card .author-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}



.blog-page .blog-horizontal .content-box .card img {
    border-radius: 16px;
}

.blog-page .blog-horizontal .content-box .card .author-wrap img {
    border-radius: 50%;
    margin: 0 16px 0 0;
}


.blog-page .blog-horizontal .content-box .card .author-wrap .author-name {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 0;
    display: flex;
    align-items: center;
}

.blog-page .blog-horizontal .content-box .card .author-wrap .date {
    color: rgba(255, 255, 255, 0.40);
    font-family: var(--light-font);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    margin: 0;
}

/* BLOG INNER PAGE */

.blog-inner-page .banner .back-btn {
    background-color: var(--black-color);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 4px;
    text-decoration: none;
    border-radius: 16px;
    margin: 14px 0 16px 0;
}

.blog-inner-page .banner .back-btn p {
    margin: 0;
    color: var(--www-olaelectric-com-white, var(--color-white-solid, #FFF));
    text-align: center;

    font-family: var(--light-font);
    font-size: 16.031px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-24, 24px);
    /* 149.708% */

}

.blog-inner-page .banner .blog-detail-head {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 25px;
}

.blog-inner-page .banner .blog-detail-head .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;

}

.blog-inner-page .banner .blog-detail-head .right {
    border-radius: 16px;
    background: #005163;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.blog-inner-page .banner .blog-detail-head .right h2 {
    color: var(--white-color);
    font-family: var(--medium-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-inner-page .banner .blog-detail-head .right .blog-box-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-inner-page .banner .blog-detail-head .right .blog-box-footer .author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.blog-inner-page .banner .blog-detail-head .right .blog-box-footer .author p {
    margin: 0;
    color: var(--white-color);
    font-family: var(--light-font);
    font-size: var(--font-size-sm, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-size-xl, 24px);
}

.blog-inner-page .banner .blog-detail-head .right .blog-box-footer h6 {
    color: rgba(255, 255, 255, 0.40);

    font-family: var(--light-font);
    font-size: var(--font-size-sm, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-size-xl, 24px);
    /* 150% */
}

.blog-content .content-box {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.blog-inner-page .content-box {
    padding: 64px 0 0 0;
}

.blog-inner-page .blog-content .content-box .left {
    padding: 0 30px 0 0;
    border-right: 1px solid #515151
}

.blog-inner-page .blog-content .content-box .left .wrap {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.blog-inner-page .blog-content .content-box .left h3 {
    border-radius: 8px;
    background: #054E5D;
    padding: 10px 30px;
    margin: 0 0 16px 0;

    color: #FFF;
    text-align: center;
    font-family: var(--light-font);
    font-size: var(--font-size-32, 32px);
    font-style: normal;
    font-weight: var(--font-weight-600, 700);
    line-height: var(--line-height-48, 48px);
    /* 150% */
    letter-spacing: var(--letter-spacing-0_16, 0.16px);
}

.blog-inner-page .blog-content .content-box .left .card {
    background-color: transparent;
    border-bottom: 1px solid #515151;
    border: 0;
    padding: 0 0 18px 0;
    text-decoration: none;
    border-bottom: 1px solid #515151;
    border-radius: 0;
}


.blog-inner-page .blog-content .content-box .left .card .card-title {
    color: #FFF;
    font-family: var(--bold-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}


.blog-inner-page .blog-content .content-box .left .card .author-wrap {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.blog-inner-page .blog-content .content-box .left .card .author-wrap .author-name {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin: 0;
}

.blog-inner-page .blog-content .content-box .left .card .author-wrap .author-name span {
    color: #FFF;
    font-family: var(--light-font);
    font-size: var(--font-size-sm, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-size-xl, 24px);
    margin: 0;
}

.blog-inner-page .blog-content .content-box .left .card .author-wrap .date {
    color: rgba(255, 255, 255, 0.40);
    font-family: var(--light-font);
    font-size: var(--font-size-sm, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-size-xl, 24px);
    /* 150% */
    margin: 0;

}

.blog-inner-page .blog-content .content-box .left .card .card-body {
    padding: 0;
}

.blog-inner-page .blog-content .content-box .right {
    padding: 0 0 0 30px;
}

.blog-inner-page .blog-content .content-box .right p {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.blog-inner-page .blog-content .content-box .right h3 {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.blog-inner-page .blog-content .content-box .right ul li {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

/* Product Page */

.product-header {
    height: 110vh;
    background-image: url(../images/product/product-listing-banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

.product-listing {
    background-color: #e6faff;
    position: relative;
}

.product-listing .shape1 {
    position: absolute;
    left: 0;
    bottom: 10%;
}

.product-listing .shape2 {
    position: absolute;
    right: 0;
    bottom: 50%;
}

.product-listing .heading-box {
    text-align: center;
    padding: 29px 0 24px 0;
}

.product-listing .heading-box h2 {
    color: #000;
    text-align: center;
    font-family: var(--medium-font);
    font-size: var(--font-size-32, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--line-height-48, 48px);
    /* 150% */
    letter-spacing: var(--letter-spacing-0_16, 0.16px);
}

.product-listing .card {
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    border-color: #FFF;
    border: none;

}

.product-listing .card .card-body {
    padding: 40px 40px 0 40px;
}


.product-listing .card .card-title {
    color: #000;
    font-family: var(--regular-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-25, 25px);
    /* 104.167% */
    letter-spacing: var(--letter-spacing--0_36, -0.36px);
}

.product-listing .card .card-text {
    color: var(--www-olaelectric-com-river-bed, var(--color-azure-31, #41515C));
    font-family: var(--regular-font);
    font-size: 16.031px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-25, 25px);
    /* 155.945% */
    letter-spacing: var(--letter-spacing--0_36, -0.36px);
    padding: 24px 0;
    margin: 0;
}

.product-listing .card .price-head {
    margin: 0;
    padding: 32px 0 10px 0;
    color: var(--www-olaelectric-com-pale-sky, var(--color-azure-47, #687986));
    font-family: var(--regular-font);
    font-size: 16.313px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-18, 18px);
    /* 110.345% */
}

.product-listing .card .price {
    color: var(--www-olaelectric-com-mirage, var(--color-azure-12, #151D2A));
    font-family: var(--regular-font);
    font-size: 28.617px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-34, 34px);
    /* 118.81% */
}

.product-listing .card-footer {
    padding: 32px 40px 40px 40px;
    border: none;
    background-color: #fff;
}

.product-listing .card .card-footer p {
    padding: 20px;
    color: var(--www-olaelectric-com-white, var(--color-white-solid, #FFF));
    font-family: var(--regular-font);
    text-align: center;
    font-size: 16.031px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-24, 24px);
    /* 149.708% */
    background-color: #212121;
    border-radius: 4px;
    margin: 0;
}


.product-listing .card hr {
    background-color: rgba(0, 0, 0, 0.07);
    height: 1px;
}


/* Product Inner Page */


/* Product Page */

.product-inner-header {
    height: 110vh;
    background-image: url(../images/product/inner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}


.product-inner-content {
    background-color: #e6faff;
    position: relative;
}

.product-inner-content .shape1 {
    position: absolute;
    left: 0;
    bottom: 10%;
}

.product-inner-content .shape2 {
    position: absolute;
    right: 0;
    bottom: 50%;
}



.product-inner-content .performance .content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 54px 0 0 0;
}

.product-inner-content .performance .content-box .box {
    background: #111;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
}

.product-inner-content .performance {
    padding: 0px 0 73px 0;
}

.product-inner-content .performance .heading-box h2 {
    color: var(--www-olaelectric-com-shark, var(--color-azure-11, #181D22));

    /* www.olaelectric.com/Semantic/Heading 2 */
    font-family: var(--regular-font);
    font-size: 46.617px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-62_64, 62.64px);
    letter-spacing: var(--letter-spacing--0_54, -0.54px);
}

.product-inner-content .performance .heading-box p {
    color: var(--www-olaelectric-com-river-bed, var(--color-azure-31, #41515C));
    font-family: var(--regular-font);
    font-size: 15.328px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-25_2, 25.2px);
    padding: 36px 0 0 0;
}

.product-inner-content .performance .content-box .box.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background: var(--fffdddaa, linear-gradient(112deg, #049DB4 1.92%, #000 98.54%));

    height: 251.72px;
}

.product-inner-content .performance .content-box .box.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    height: 517.2px;
    background-image: url(../images/product/perfomance1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-inner-content .performance .content-box .box.box3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background: var(--fffdddaa, linear-gradient(112deg, #049DB4 1.92%, #000 98.54%));

    height: 251.72px;
}


.product-inner-content .performance .content-box .box.box4 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    height: 517.2px;
    background-image: url(../images/product/perfomance2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.product-inner-content .performance .content-box .box.box5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    background: var(--fffdddaa, linear-gradient(112deg, #049DB4 1.92%, #000 98.54%));

    height: 251.72px;
}


.product-inner-content .performance .content-box .box.box6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;

    height: 517.2px;
    background-image: url(../images/product/perfomance3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-inner-content .charge {
    background-color: var(--black-color);
}

.product-inner-content .charge .heading-box {
    padding: 54px 0 90px 0;
}

.product-inner-content .charge .heading-box h2 {
    margin: 0;

    color: var(--www-olaelectric-com-shark, var(--color-azure-11, #FFF));

    /* www.olaelectric.com/Semantic/Heading 2 */
    font-family: var(--regular-font);
    font-size: 46.617px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-62_64, 62.64px);
    letter-spacing: var(--letter-spacing--0_54, -0.54px);
}

.product-inner-content .charge .content-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}


.product-inner-content .charge .content-box .box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.product-inner-content .charge .content-box .box2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.product-inner-content .charge .content-box .box3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.product-inner-content .charge .content-box .box4 {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}



.product-inner-content .charge .content-box .box5 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}


.product-inner-content .charge .content-box .box6 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.product-inner-content .charge .content-box .box7 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}



.product-inner-content .charge .content-box .box {
    padding: 41px;
    border-radius: 4px;
    border: 1px solid rgba(123, 200, 255, 0.11);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
}

.product-inner-content .charge .content-box .box h5 {
    color: #049DB4;
    font-family: var(--regular-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}



.product-inner-content .charge .content-box .box h2 {
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.product-inner-content .charge .list-content {
    padding: 90px 0 100px 0;
}

.product-inner-content .charge .list-content .list-row {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: 0 0 15px 0;
}


.product-inner-content .charge .list-content h5 {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 16px 0;
}


.product-inner-content .charge .list-content .list-row h4 {
    color: #FFF;
    font-family: var(--light-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;

}

.list-content .main-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}



.list-content .main-wrap .wrap1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.list-content .main-wrap .wrap2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.list-content .main-wrap .wrap3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.list-content .main-wrap .wrap4{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.list-content .main-wrap .wrap5{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.cta{
    padding: 50px;
    background-color: #e6faff;
}

.cta .content-box{
    background-color: #049DB4;
    border-radius: 36px;
    position: relative;
}

.cta .content-box .left{
    border-radius: 36px 0 0 36px;
    height: 100%;
    position: relative;
}

.cta .content-box .left::after{
    content: '';
    height: 100%;
    width: 70%;
    background: linear-gradient(90deg, rgba(4, 157, 180, 0.00) 0.23%, #049DB4 100.52%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.cta .content-box .left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 36px 0 0 36px;

}

.cta .content-box img::after{
    content: "dh";
}


.cta .content-box .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 60px 0;
}

.cta .content-box .right h2{
    color: #FFF;
    font-family: var(--regular-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

.cta .content-box .right p{
    color: rgba(255, 255, 255, 0.63);
    font-family: var(--regular-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    padding: 20px 0 0 0;
}

.cta .content-box .arrow{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0,-50%);
}